@page
@using front.www.Models;
@model BasketModel
@{
    ViewData["Title"] = "Basket";
}

<div class="text-center">
    <h1 class="display-4">Woodgrove Groceries</h1>
</div>
<hr/>
 <section class="section pt-4">
            <h4 class="font-weight-bold mt-4 title-1" style="letter-spacing: 2px;">
                <strong>Your basket </strong>
            </h4>
            <hr class="mb-5 wg-black" style="border-top: 3px solid rgba(0, 0, 0, .1);">
            <ul class="list-group">
            @foreach (var basketline in ViewBag.basket)
            {
                <li class="list-group-item">
                    <h6> [ @basketline.Item2 ] 
                        <img src="@basketline.Item1.ProductPictureUrl" style="max-height: 28px;"/>
                        @basketline.Item1.ProductName</h6>
                </li>
            }
            </ul>
            <br/>
            <a class="btn btn-success" href="/Order"> Order basket content </a>
            <a class="btn btn-warning" href="/BasketClear"> Clear </a>
        </section>
