@page
@using front.www.Models;
@model OrderModel
@{
    ViewData["Title"] = "Basket";
}

<div class="text-center">
    <h1 class="display-4">Woodgrove Groceries</h1>
</div>
<hr/>
 <section class="section pt-4">
            <h4 class="font-weight-bold mt-4 title-1" style="letter-spacing: 2px;">
                <strong>Order confirmed : @ViewBag.order.Id </strong>
            </h4>
            <hr class="mb-5 wg-black" style="border-top: 3px solid rgba(0, 0, 0, .1);">
            Not implemented
        </section>
