@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div >
    <h1 class="display-4">Prudence !</h1>
<hr>

<a class="btn btn-danger" asp-area="" asp-page="/ResetCatalog">==> Reinitialisation des données du catalog</a>
</div>
